<head>
    <meta charset="UTF-8">
    <!-- Primary Meta Tags -->
    <title>LP Stat</title>
    <meta name="title" content="LP Stat">
    <meta name="description" content="&#x1F9D1;&#x200D;&#x1F33E; Enjoy your farming and be tuned">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lp-stat.web.app/">
    <meta property="og:title" content="LP Stat">
    <meta property="og:description" content="&#x1F9D1;&#x200D;&#x1F33E; Enjoy your farming and be tuned">
    <meta property="og:image" content="https://lp-stat.web.app/img/thumbnail.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://lp-stat.web.app/">
    <meta property="twitter:title" content="LP Stat">
    <meta property="twitter:description" content="&#x1F9D1;&#x200D;&#x1F33E; Enjoy your farming and be tuned">
    <meta property="twitter:image" content="https://lp-stat.web.app/img/thumbnail.png">

    <% if(filenameMap) { %>
        <link rel="stylesheet" href="<%= PP %>/css/<%= filenameMap['index.css'] %>">
        <link rel="preload" href="<%= PP %>/js/<%= filenameMap['vendor.js'] %>" as="script">
        <link rel="prefetch" href="<%= PP %>/js/<%= filenameMap['vendor.js'] %>">
        <link rel="preload" href="<%= PP %>/js/<%= filenameMap['app.js'] %>" as="script">
        <link rel="prefetch" href="<%= PP %>/js/<%= filenameMap['app.js'] %>">
        <% } else { %>
            <link rel="stylesheet" href="<%= PP %>/css/index.css">
            <link rel="preload" href="<%= PP %>/js/vendor.js" as="script">
            <link rel="prefetch" href="<%= PP %>/js/vendor.js">
            <link rel="preload" href="<%= PP %>/js/app.js" as="script">
            <link rel="prefetch" href="<%= PP %>/js/app.js">
            <% } %>

                <meta name="theme-color" content="#ffffff">
                <link rel="icon" href="<%= PP %>/favicon.svg">
                <link rel="apple-touch-icon" href="<%= PP %>/apple-touch-icon.png">
                <link rel="manifest" href="<%= PP %>/manifest.json">
</head>
<%- include(`${partials}/quick`); -%>